<!DOCTYPE html>
<!-- Source Codes By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login Form </title>
  <link rel="stylesheet" href="admin.component.css" />
</head>
<body>
  <div class="login_form">
    <!-- Login form container -->
    <form (ngSubmit)="onAdminLogin()">
        <img class="image" src="logo.svg" alt="Angular SV">

      <!-- Login option separator -->
      <p class="separator">
        <span>Admin Login</span>
      </p>
      <!-- Email input box -->
      <div class="input_box">
        <label for="email">Registered Email</label>
        <input type="email" id="email" [(ngModel)]="loginData.email" placeholder="Enter email address" name="email" required />
      </div>
      <!-- Paswwrod input box -->
      <div class="input_box">
        <div class="password_title">
          <label for="password">Password</label>
        </div>
        <input type="password" id="password" [(ngModel)]="loginData.password" placeholder="Enter your password" name="password" required />
      </div>
       <!-- Login button -->
      <button type="submit">Log In</button>
    </form>
  </div>
</body>
</html>